@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0");

@font-face {
  font-family: "FontAwesome";
  src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0)
    format("woff");
}

/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url(/dist/assets/fonts/Gotham-XLightItalic.woff) format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url(/dist/assets/fonts/Gotham-XLight.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url(/dist/assets/fonts/GothamLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url(/dist/assets/fonts/GothamLight.woff) format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url(/dist/assets/fonts/GothamBook.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url(/dist/assets/fonts/Gotham-BookItalic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url(/dist/assets/fonts/Gotham-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url(/dist/assets/fonts/Gotham-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url(/dist/assets/fonts/Gotham-BoldItalic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url(/dist/assets/fonts/Gotham-Black.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}

ul li::before {
  color: #6d6e71;
}
.bg-deep-teal ul li::before,
.bg-dark-teal ul li::before,
.bg-light-teal ul li::before,
.bg-ada-orange ul li::before,
.bg-ada-green ul li::before,
.bg-dark-grey ul li::before {
  color: #ffffff;
}

.video-container {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.draggable > span:hover {
  cursor: pointer;
}

blockquote {
  quotes: "\201C""\201D";
}
blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.fa {
  font-size: 2em;
}
.tiny {
  font-size: 1em;
}

table tbody tr {
  border-bottom: #6d6e71 solid 1px;
}
@media screen and (max-width: 767px) {
  table thead {
    display: none;
  }
  table td {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    text-align: right;
    align-items: flex-start;
    border-bottom: #6d6e71 solid 1px;
  }
  table tr {
    border: solid 2px #093c44;
    margin: 20px;
  }

  table td::before {
    content: attr(data-label);
    font-weight: bold;
    min-width: 50%;
    text-align: left;
    font-weight: bold;
    padding-right: 27%;
  }
}

/*  Matching Dropdown Styles  */
.question_wrapper select {
  width: 100%;
  max-width: 200px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  height: 100%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  display: grid;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flipped {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  height: 100%;
  grid-area: 1/1; /*and here */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/*Slider Styles*/
/*!
 * jQuery UI Slider 1.13.2
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/slider/#theming
 */
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: 0.8em;
  min-height: 30px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  height: 40px;
  width: 40px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: 0.8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* Pausable Gif Styles */
div.pausable-gif {
  position: relative;
}

.pausable-gif [open] summary {
  background-image: url("https://assets.codepen.io/128034/pause_circle_filled-24px.svg");
  box-shadow: 0 0 0 2px #fff;
  background-color: white;
}
.pausable-gif summary {
  color: #fff;
  background: #fff;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
  border-radius: 50%;
  background-image: url("https://assets.codepen.io/128034/play_circle_filled-24px.svg");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  list-style: none;
}

/* Socratic Reflection */
#save {
  display: inline-block;
  text-transform: uppercase;
  background-color: #fd6000;
  color: #ffffff;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 0.375rem;
  margin-right: 10px;
  margin-bottom: 10px;
}
#save:hover {
  cursor: pointer;
  background-color: #14a0c6;
}
#save:disabled {
  background-color: #ebebe4;
  color: #6d6e71;
  cursor: not-allowed;
}
#restore {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  margin-right: 10px;
  margin-bottom: 10px;
}
#restore:hover {
  text-decoration: underline;
}
#unsaved {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
#text_input {
  padding: 1rem;
  margin-bottom: 20px;
}

a[target="_blank"]:after {
  font-family: "FontAwesome";
  content: " \f08e ";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl md:text-4xl text-black md:mt-6 mb-4;
  }
  h2 {
    @apply text-2xl md:text-3xl font-bold text-black mb-4;
  }
  h3 {
    @apply text-xl md:text-2xl font-bold text-black mb-2;
  }
  h4 {
    @apply text-base md:text-lg font-bold text-black mb-2;
  }
  a {
    @apply text-lara-blue underline hover:no-underline;
  }
  p,
  ul,
  ol {
    @apply text-base md:text-lg text-body mb-2;
  }
  p:last-child {
    @apply mb-4;
  }
  ul {
    @apply list-disc ml-4 mb-4;
  }
  ol {
    @apply list-decimal ml-4 mb-4;
  }
  ul > li > ul {
    @apply list-square ml-4 my-4;
  }
  ul > li > ul > li > ul {
    @apply list-circle ml-4 my-4;
  }
  ol > li > ol {
    @apply list-roman ml-4 my-4;
  }
  ol > li > ol > li > ol {
    @apply list-lower-roman ml-4 my-4;
  }
  li {
    @apply mb-2;
  }

  /* Accordion Rules */

  .accordion-controls,
  .tabs {
    @apply list-none ml-0;
  }
  .accordion-controls li {
    @apply mb-0;
  }
  li.accordion-controls a,
  .tabs li > a {
    @apply no-underline;
  }

  /* Tabs Rules */

  .tabs,
  .tabs li {
    @apply mb-0;
  }
  .tabs li > a {
    @apply no-underline text-inherit;
  }
  .tabs li > a.text-white {
    color: #ffffff !important;
  }

  /* Timeline Rules */
  ol.relative {
    @apply list-none;
  }

  /* Scenario Rules */
  ul.response-container {
    @apply list-none;
  }

  .bg-deep-teal *,
  .bg-dark-teal *,
  .bg-light-teal *,
  .bg-ada-orange *,
  .bg-ada-green *,
  .bg-dark-gray *,
  .bg-lara-orange *,
  .bg-lara-blue *,
  .bg-black *,
  .bg-body *,
  header * {
    @apply text-white;
  }
  a.bg-deep-teal,
  a.bg-dark-teal,
  a.bg-light-teal,
  a.bg-ada-orange,
  a.bg-ada-green,
  a.bg-dark-grey,
  a.bg-lara-orange,
  a.bg-lara-blue,
  a.bg-black,
  a.bg-body {
    @apply text-white;
  }
  .bg-white * {
    @apply text-dark-gray;
  }
  a.bg-white {
    @apply text-dark-gray;
  }
}
